<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-UOrtegaM/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ulises Guadalupe Ortega Mena

A01793983

# Module 4 - Working with Data in Python

## Reading Files

One way to read or write a file in Python is to use the built-in <code>open</code> function. The <code>open</code> function provides a **File object** that contains the methods and attributes you need in order to read, save, and manipulate the file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadOpen.png" width="500" />

The mode argument is optional and the default value is **r**. In this notebook we only cover two modes:

<ul>
    <li>**r**: Read mode for reading files </li>
    <li>**w**: Write mode for writing files</li>
</ul>

In [202]:
# Read the Example1.txt file
file_path = "EjemploArchivo_Semana2.txt"
file1 = open(file_path, "r")

In [203]:
# Print the path of file
print(file1.name)

# Print the mode of file, either 'r' or 'w'
print(file1.mode)

EjemploArchivo_Semana2.txt
r

In [204]:
# Read the file and assign it to a variable
FileContent = file1.read()
print(FileContent)

Este es un archivo de ejemplo para la Actividad 1 de la Semana 2.

In [205]:
# Close file after finish
file1.close()

### Another Way to Open a File

Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [206]:
# Open file using with

with open(file_path, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Este es un archivo de ejemplo para la Actividad 1 de la Semana 2.

In [207]:
# Verify if the file is closed
file1.closed

True

In [208]:
print(FileContent)

Este es un archivo de ejemplo para la Actividad 1 de la Semana 2.

In [209]:
# We donâ€™t have to read the entire file
with open(file_path, "r") as file1:
    print(file1.read(18))

Este es un archivo

## Write and Save Files

### Writing Files

In [210]:
# Write lines to file
with open(file_path, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

# Read file
with open(file_path, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [211]:
# We can write a list

# Sample list of text
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]

# Write the strings in the list to text file
with open(file_path, 'w') as writefile:
    for line in Lines:
        writefile.write(line)

# Read file
with open(file_path, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

### Appending Files

We can write to files without losing any of the existing data as follows by setting the mode argument to append: **a**.

In [212]:
# Write a new line to text file
with open(file_path, 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

# Read file
with open(file_path, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line C
This is line D
This is line E

### Additional modes

It's fairly ineffecient to open the file in **a** or **w** and then reopening it in **r** to read any lines. Luckily we can access the file in the following modes:

*   **r+** : Reading and writing. Cannot truncate the file.
*   **w+** : Writing and reading. Truncates the file.
*   **a+** : Appending and Reading. Creates a new file, if none exists.

In [213]:
### Copy a File

# Copy file to another
with open(file_path,'r') as readfile:
    with open('EjemploArchivo2_Semana2.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

# Verify if the copy is successfully executed
with open('EjemploArchivo2_Semana2.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line C
This is line D
This is line E

After reading files, we can also write data into files and save them in different file formats like **.txt, .csv, .xls, etc**.

## Introduction to Pandas

In [214]:
# Import required library
import pandas as pd

In [215]:
# Read data from CSV url
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"
df = pd.read_csv(filename)

# Print first five rows of the dataframe
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [216]:
# Access to the column Length
x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

### Viewing Data and Accessing Data

In [217]:
# Get the column as a series
x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [218]:
# Get the column as a dataframe
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [219]:
# Access to multiple columns
y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [220]:
# Access the value on the first row and the first column
df.iloc[0, 0]

'Michael Jackson'

In [221]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

In [222]:
# Access the column using the name
df.loc[1, 'Artist']

'AC/DC'

In [223]:
# Access the column using the name
df.loc[0, 'Released']

1982

In [224]:
# Slicing the dataframe
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [225]:
# Slicing the dataframe using name
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

## Object Oriented Programming (OOP)

In [226]:
# Class
class Dog:
    number_of_dog = 0 # Property

    def __init__(self, name, age): # Constructor
        self.name = name
        self.age = age

    def add_one(self, x): # Method
        return x + 1

    def get_name(self): # Method
        return self.name

    def set_age(self, age): # Method
        self.age = age

    @classmethod # Are called on the class itself, not on a specific object instance.
    def get_number_of_dog(cls):
        return print("Dogs count: ", cls.number_of_dog)
    
    @classmethod
    def add_dog(cls):
        cls.number_of_dog += 1

In [227]:
# Create Dog instance
d = Dog("Tim",2)
print("Name: ", d.name)

# Add a dog to counter
Dog.add_dog()
Dog.get_number_of_dog()

Name:  Tim
Dogs count:  1

In [228]:
# Set new age to dog 'd'
d.set_age(11)
d.age

11

In [229]:
# Create 2nd Dog instance
d2 = Dog("Bill",5)
print("Name: ", d2.get_name())
print("Age: ",d2.age)

Dog.add_dog()
Dog.get_number_of_dog()

Name:  Bill
Age:  5
Dogs count:  2